<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>Message Board
  </button>
  <button
    *ngIf="userIsAuthenticated"
    mat-button
    [routerLink]="['/create']"
    routerLinkActive="mat-accent"
  >
    <mat-icon>add_box</mat-icon> New Post
  </button>
  <span class="spacer"></span>
  <button
    *ngIf="!userIsAuthenticated"
    mat-button
    routerLink="/login"
    routerLinkActive="mat-accent"
  >
    Login
  </button>
  <button
    *ngIf="!userIsAuthenticated"
    mat-button
    routerLink="/signup"
    routerLinkActive="mat-accent"
  >
    Signup
  </button>
  <button *ngIf="userIsAuthenticated" mat-button routerLink="/">Welcome</button>
  <button *ngIf="userIsAuthenticated" mat-button (click)="onLogout()">
    Logout
  </button>
</mat-toolbar>
